<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>途客圈 - 城市指南系列App</title>
    <meta name="description" content="途客圈城市指南系列App是途客圈为广大旅行者精心准备的、不容错过的城市旅行攻略。">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/curtain.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/galleria.css">
</head>
<body>
    <ul id="menu">
        <li><a href="#section-1" class="curtain-links">&nbsp;</a></li>
        <li><a href="#section-2" class="curtain-links">&nbsp;</a></li>
        <li><a href="#section-3" class="curtain-links">&nbsp;</a></li>
        <li><a href="#section-4" class="curtain-links">&nbsp;</a></li>
        <li><a href="#section-5" class="curtain-links">&nbsp;</a></li>
        <li><a href="#section-6" class="curtain-links">&nbsp;</a></li>
        <li><a href="#section-7" class="curtain-links">&nbsp;</a></li>
    </ul>

    <ol class="curtains">
        <li id="section-1" class="slide">
            <article class="wrapper">
                 <div id="app-title">
                 <h2>途客圈</h2>
                    <h1>城市指南</h1>
                    <p id="introduction">已有<span style="font-size:22px;"> 8 </span>款登陆 App Store</p>
                </div>
                <div id="iphone">
                    <div id="galleria-container">
                        <img src="{{ STATIC_URL }}img/screen-shot1.png">
                        <img src="{{ STATIC_URL }}img/screen-shot2.png">
                    </div>
                </div>
                <div class="menu">
                <a href="#down" id="start" title=""></a>
                </div>
                <img id="stamp" src="{{ STATIC_URL }}img/Slide1_Stamp.png" width="150px" height="160px" alt=""/>
            </article>
            <!-- <div class="footer"></div> -->
        </li>

        <li id="section-2" class="slide">
            <article class="wrapper">
               <div class="slide-topic">
                    <h1>城市主题</h1>
                    <h3>不同视角折射出的城市精彩</h3>
                </div>
                 <ul id="theme">
                    <li class="thumb scroll" id="landscape"><div class="thumb-wrapper"><img src="{{ STATIC_URL }}img/Slide2_Landscape.png" width="140px" height="140px" alt=""><div class="thumb-detail">风景</div></div></li>
                    <li class="thumb scroll" id="arch"><div class="thumb-wrapper"><img src="{{ STATIC_URL }}img/Slide2_Arch.png" width="140px" height="140px" alt=""><div class="thumb-detail">建筑</div></div></li>
                    <li class="thumb scroll" id="culture"><div class="thumb-wrapper"><img src="{{ STATIC_URL }}img/Slide2_Culture.png" width="140px" height="140px" alt=""><div class="thumb-detail">艺术</div></div></li>
                    <li class="thumb scroll" id="food"><div class="thumb-wrapper"><img src="{{ STATIC_URL }}img/Slide2_Food.png" width="140px" height="140px" alt=""><div class="thumb-detail">美食</div></div></li>
                    <li class="thumb scroll" id="shop"><div class="thumb-wrapper"><img src="{{ STATIC_URL }}img/Slide2_Shop.png" width="140px" height="140px" alt=""><div class="thumb-detail">购物</div></div></li>
                </ul>
            </article>
            <!-- <div class="footer"></div> -->
        </li>
        <li id="section-3" class="slide">
            <article class="wrapper">
            <div class="slide-topic">
                    <h1>旅行地详情</h1>
                    <h3><p>特色、票价、开放时间、注意事项……</p>
                        <p>详细介绍旅行地的方方面面。</p>
                    </h3>
                </div>
                <img id="brochure" src="{{ STATIC_URL }}img/Slide3_Brochure.png" width="360px" height="300px" alt=""/>
            </article>
        </li>
        <li id="section-4" class="slide">
            <article class="wrapper">
                <div class="slide-topic">
                    <h1>离线地图</h1>
                    <h3>精准离线地图，海外旅行无需流量
                    </h3>
                </div>
                <img id="map" src="{{ STATIC_URL }}img/Slide4_Map.png" width="335px" height="400px" alt=""/>
                <img id="pocket" src="{{ STATIC_URL }}img/Slide4_Pocket.png" width="363px" height="254px" alt=""/>
            </article>
        </li>
        <li id="section-5"  class="slide">
            <article class="wrapper">
               <div class="slide-topic">
                    <h1>发现惊喜</h1>
                    <h3>摇一摇手机，根据时间和位置，推荐好去处</h3>
                </div>

                <img id="sun-moon" src="{{ STATIC_URL }}img/Slide5_sun_moon.png" width="400" height="400" alt=""/>
                <div id="hand-arm">
                    <img id="arm" src="{{ STATIC_URL }}img/Slide5_arm.png" width="100px" height="180px" alt=""/>
                    <img id="hand" src="{{ STATIC_URL }}img/Slide5_hand_iPhone.png" width="120px" height="172px" alt=""/>

                </div>
            </article>
        </li>
        <li id="section-6"  class="slide">
            <article class="wrapper">
               <div class="slide-topic">
                    <h1>收藏旅行地</h1>
                    <h3>收藏喜爱的地点，方便规划路线</h3>
                </div>

                <img id="another-map" src="{{ STATIC_URL }}img/Slide6_map.png" width="555px" height="400px" alt=""/>
                <img id="post" src="{{ STATIC_URL }}img/Slide6_post.png" width="208px" height="200px" alt=""/>
                <ul id="pin">
                    <li><img class="pin" src="{{ STATIC_URL }}img/Slide6_pin.png" width="45px" height="60px" alt=""/></li>
                    <li><img class="pin" src="{{ STATIC_URL }}img/Slide6_pin.png" width="45px" height="60px" alt=""/></li>
                    <li><img class="pin" src="{{ STATIC_URL }}img/Slide6_pin.png" width="45px" height="60px" alt=""/></li>
                    <li><img class="pin" src="{{ STATIC_URL }}img/Slide6_pin.png" width="45px" height="60px" alt=""/></li>
                    <li><img class="pin" src="{{ STATIC_URL }}img/Slide6_pin.png" width="45px" height="60px" alt=""/></li>
                </ul>
            </article>
        </li>
        <li id="section-7"  class="slide">
            <article class="wrapper">
            <div class="slide-topic">
                <h1>更多指南，即将上线</h1>
                <h3>陪伴你走遍全球的贴心助手</h3>
            </div>
            <div class="app-container">
                <div id="app-show">
                    <ul>
                        <li>
                            <div class="app-icons">
                                {% for app in apps %}
                                    <div><a href="{{ app.link }}" target="_blank"><img src="{{ app.icon.url }}" width="100px" height="100px"/></a></div>
                                {% endfor %}
                            </div>
                        </li>
                        <li>
                            <div class="app-icons">
                                {% for app in apps %}
                                    <div><a href="{{ app.link }}" target="_blank"><img src="{{ app.icon.url }}" width="100px" height="100px"/></a></div>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <a href="https://itunes.apple.com/" id="download" target="_blank">去 App Store 下载</a>
            </div>
            </article>
        </li>
    </ol>
    <div class="feedback-dialog">
        <div class="feedback btn btn-blue">
            问题反馈
        </div>
        <div class="content">
            <form id="feedbackForm" action="api/feedback/" method="POST">
                <p>我是途客圈-菲菲～如果您有任何疑惑、发现了BUG、或者有意见和建议，请留言给我，我们十分需要您的反馈以改进产品。</p>
                <input type="text" placeholder="请留下您的QQ或者Email地址，方便我们联系您" name="contact" class="anonymous">
                <textarea name="content"></textarea>
                <button class="btn btn-green">发送</button><p class="message pull-right"></p>
                <p class="muted anonymous">未登录用户也可以发送反馈，请留下您的联系方式，我们收到信息会联系您并给出答复。</p>

            </form>
        </div>
    </div>
<script src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
<script src="{{ STATIC_URL }}js/modernizr.2.5.3.min.js"></script>
<script src="{{ STATIC_URL }}js/curtain.js"></script>
<script src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
<script src="{{ STATIC_URL }}js/waypoints.min.js"></script>
<script src="{{ STATIC_URL }}js/galleria/galleria-1.2.8.min.js"></script>
<script src="{{ STATIC_URL }}js/easySlider1.7.js"></script>

<script>
    Galleria.loadTheme('{{ STATIC_URL }}js/galleria/themes/classic/galleria.classic.min.js');
    $('#galleria-container').galleria({
        autoplay:1500,
        imageCrop: true,
        transition: 'fade',
        carousel:false,
        thumbnails:false,
        imageMargin: 0,
        showImagenav:false,
        showInfo:false,
        showCounter:false,
        transitionSpeed:1000
    });
    jQuery(document).ready(function ($) {
        $('.curtains').curtain({
           scrollSpeed: 500,
           controls: '.menu',
           curtainLinks: '.curtain-links'
        });
        var height = $(window).height();
        $('#section-2').waypoint(function(event) {
            var $active = $('#theme');
            $active.removeClass('appear');
            $active.addClass('appear');
        },{triggerOnce: true, offset: '-50%' });


        $('#section-4').waypoint(function(event) {
            var $active = $('#map');
            $active.removeClass('appear');
            $active.addClass('appear');
        },{triggerOnce: true,offset: '-200%'});

        $('#section-6').waypoint(function(event) {
            var $active = $('#pin');
            $active.removeClass('appear');
            $active.addClass('appear');

        },{triggerOnce: true,offset: '-350%'});

        //submit form
        var form = $("#feedbackForm");
        form.submit(function(){
            $.post(form.attr("action"),
                    form.serialize(),
                    function(result, status){
                        console.log(status)
                        if(status=='success'){
                            alert('感谢你的反馈');
                            $(".feedback").trigger("click");

                        }
                    },"json");
            return false;
        });
    });

    $(function () {
        if ($('html').hasClass('csstransforms3d')) {
            $('.thumb').removeClass('scroll').addClass('flip');
            $('.thumb.flip').hover(
                    function () {
                        $(this).find('.thumb-wrapper').addClass('flipIt');
                    },
                    function () {
                        $(this).find('.thumb-wrapper').removeClass('flipIt');
                    }
            );
        } else {
            $('.thumb').hover(
                    function () {
                        $(this).find('.thumb-detail').stop().animate({bottom:0}, 500, 'easeOutCubic');
                    },
                    function () {
                        $(this).find('.thumb-detail').stop().animate({bottom: ($(this).height() * -1) }, 500, 'easeOutCubic');
                    }
            );
        }

        $(".feedback").bind('click', function(){
            if($('.feedback-dialog').css('right') != '0px'){
                $('.feedback-dialog').animate({'right':0}, 1000);
            }else{
                $('.feedback-dialog').animate({'right':'-360px'}, 1000);
            }

        });
        $("#app-show").easySlider({
            continuous: true,
            nextId: "scroll-left",
            prevId: "scroll-right",
            prevText:"",
            nextText:""
        });
    });
</script>
</body>
</html>