https://github.com/ipython/ipython/tarball/rel-0.13
https://github.com/gotcha/ipdb/tarball/0.7

wsgiref==0.1.2
flup==1.0.3.dev-20110405

https://github.com/django/django/tarball/1.4.1

https://github.com/jezdez/django-configurations/tarball/master
https://bitbucket.org/andrewgodwin/south/get/0.7.6.tar.gz

https://github.com/django-extensions/django-extensions/tarball/0.9
https://github.com/mitsuhiko/werkzeug/tarball/0.8.3

https://github.com/lukaszb/django-guardian/tarball/v1.0.4
https://github.com/bread-and-pepper/django-userena/tarball/v1.1.2
https://github.com/SmileyChris/easy-thumbnails/tarball/1.1
