{% extends "city_viewer/base.html" %}
{% block content %}
<div class="row">
    <div class="span10">
        <h3>导入Excel</h3>
        <form action="" method="POST" enctype="multipart/form-data"{# <-Required enctype > #}>
        {% csrf_token %}
        <table>
            {{ form }}
            <tr>
                <td>
                    {% if uploaded and converted_data %}
                        <input type="button" onclick="import_data()" value="开始导入数据"/>
                    {% else %}
                        <input type="submit" value="上传"/>
                    {% endif %}
                </td>
            </tr>
        </table>
        </form>
    </div>
    {% if uploaded and converted_data %}
    <div class="span12">
        <h3>请检查上传的Excel表格是否正确:</h3>
        <ul class="nav nav-tabs" id="myTab">
        {% for sheet in converted_data %}
            <li class={% if forloop.first %}"active"{% endif %}><a href="#sheet{{forloop.counter}}">Sheet{{forloop.counter}}</a></li>
        {% endfor %}
        </ul>
        <div class="tab-content">
            {% for sheet in converted_data %}
                <div class="tab-pane {% if forloop.first %}active{% endif %}" id="sheet{{forloop.counter}}">
                    <table class="table table-striped">
                        <tr>
                            {% with fields=sheet.0.keys %}
                                {% for field in fields %}
                                    <th>{{ field }}</th>
                                 {% endfor %}
                            {% endwith %}
                        </tr>
                        {% for item_data in sheet %}
                        <tr>
                            {% for key, value in item_data.iteritems %}
                                <td><div style="white-space: pre-wrap;">{{ value }}</div></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
     </div>
    {% endif %}
</div>
{% endblock %}

{% block script %}
//Tab
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
//Data import ajax
    var import_data = function(e){
        var en_reg = /^[a-z-]+$/g;
        var zh_name = $('#id_zh_name').val().trim();
        var en_name = $('#id_en_name').val().trim();
        var file_type = $('#id_file_type').val();
        if(zh_name==null || zh_name=='')
            alert('请输入城市中文名称');
        else if(en_name==null || en_name=='')
            alert('请输入导入城市图片时新建的文件夹名');
        else if(!en_reg.test(en_name))
            alert('英文名称只能是字母和中横线的组合');
        else{
            Dajaxice.import.data(
            function(d){
                var message = d.message != 'ok' ? d.message: "导入完成，请到后台查看。";
                alert(message);
            },{'city': JSON.stringify({'zh_name': zh_name, 'en_name': en_name, 'type': file_type}),
               'data': $('#id_converted_data').val()
            });

        }
    }
{% endblock %}