{% extends "city_viewer/base.html" %}
{% block content %}
<div class="row">
    <div class="span10 alert alert-block">
        <h3>导入Excel</h3>
        <form action="" method="POST" enctype="multipart/form-data"{# <-Required enctype > #}>
        {% csrf_token %}
        <table>
            {{ form }}
            <tr>
                <td>
                    {% if uploaded and converted_data %}
                        <input id="import-data" class="btn" type="button" onclick="import_data(0)" value="开始导入数据"/>
                        <input id="import-image" class="btn" type="button" onclick="import_data(1)" value="生成图片"/>
                    {% else %}
                        <input id="upload" type="submit" value="上传"/>
                    {% endif %}
                </td>
            </tr>
        </table>
        </form>
        <div id="loading"></div>
    </div>
    {% if uploaded and converted_data %}
    <div class="span12">
        <h3>请检查上传的Excel表格是否正确:</h3>
        <ul class="nav nav-tabs" id="myTab">
        {% for sheet in converted_data %}
            <li class={% if forloop.first %}"active"{% endif %}><a href="#sheet{{forloop.counter}}">Sheet{{forloop.counter}}</a></li>
        {% endfor %}
        </ul>
        <div class="tab-content">
            {% for sheet in converted_data %}
                <div class="tab-pane {% if forloop.first %}active{% endif %}" id="sheet{{forloop.counter}}">
                    <table class="table">
                        <tr>
                            {% with fields=sheet.0.keys %}
                                {% for field in fields %}
                                    <th>{{ field }}</th>
                                 {% endfor %}
                            {% endwith %}
                        </tr>
                        {% for item_data in sheet %}
                        <tr>
                            {% for key, value in item_data.iteritems %}
                                <td><div style="white-space: pre-wrap;">{{ value }}</div></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
     </div>
    {% endif %}
</div>
{% endblock %}

{% block script %}
//Tab
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
//Data import ajax
    var import_data = function(e){
        $(".alert").alert();
        var en_reg = /^[a-z-]+$/g;
        var zh_name = $('#id_zh_name').val().trim();
        var en_name = $('#id_en_name').val().trim();
        var file_type = $('#id_file_type').val();
        if(zh_name==null || zh_name=='')
            alert('请输入城市中文名称');
        else if(en_name==null || en_name=='')
            alert('请输入导入城市图片时新建的文件夹名');
        else if(!en_reg.test(en_name))
            alert('英文名称只能是字母和中横线的组合');
        else{
            var loading = $("#loading");
            loading.html('<div class="circle"></div><div class="circle1"></div>');
            if(e == 0){
                Dajaxice.import.data(
                function(d){
                if(d.message != 'ok'){
                alert(message);
                }else{
                alert("导入完成，当前即可浏览。如第一次导入请生成不同格式的图片");
                }
                },{'city': JSON.stringify({'zh_name': zh_name, 'en_name': en_name, 'type': file_type}),
                'data': $('#id_converted_data').val()
                });
            }else{
                Dajaxice.generate.images(
                function(d){
                var message = d.message != 'ok' ? d.message: "生成图片成功";
                alert(message);
                $("#import").remove();
                $("#loading").remove();
                },{'city': JSON.stringify({'zh_name': zh_name, 'en_name': en_name, 'type': file_type}),
                'data': $('#id_converted_data').val()
                });
            }
        }
    }
{% endblock %}