<HTML>

<HEAD>

    <TITLE>城市数据导入</TITLE>

</HEAD>

<BODY>

<h1>导入Excel</h1>

<form action="" method="POST" enctype="multipart/form-data"{# <-Required enctype #}>
    {% csrf_token %}
    <table>
        {{ form }}
        <tr>
            <th/>
            <td>
                {% if uploaded and converted_data %}
                    <input type="submit" value="开始导入数据"/>
                {% else %}
                    <input type="submit" value="上传"/>
                {% endif %}
            </td>
        </tr>
    </table>
</form>


{% if uploaded and converted_data %}
    <h3>请检查上传的Excel表格是否正确:</h3>
    <div class="results">
        <table>
            <tr>
                {% with fields=converted_data.0.keys %}
                    {% for field in fields %}
                        <th>{{ field }}</th>
                    {% endfor %}
                {% endwith %}
            </tr>
            {% for item_data in converted_data %}
                <tr>
                    {% for key, value in item_data.iteritems %}
                        <td><div style="white-space: pre-wrap;">{{ value }}</div></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}

</BODY>

</HTML>