/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Clearfix */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {clear:both;}
.cf { zoom:1;}

/* Base Style */
/*body {
    font:16px/1.2 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1{font-size:38px;}
p{margin:1em 0 0 0;}

article{
    margin:0 auto;
    max-width:600px;
    padding:5em;
}
    article h1{text-align:center;}*/

html,body{
    font-family: 'Hiragino Sans GB', 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    width:100%;
    min-width: 960px;
    height:100%;
    color:#fafafa;
    position: relative;
}

h1{
    font-size:50px;
    text-shadow: 0 3px 1px rgba(0,0,0,0.3);
}

h2{
     font-size:20px;
     text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.slide-topic h1, .slide-topic h3{
    text-align: center;
}

.slide-topic h3{
    font-size:16px;
    margin-top:40px;
    line-height: 22px;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}
.footer{
    width:100%;
    height:88px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.wrapper{
    width:960px;
    height:500px;
    margin:0 auto;
    position:relative;
    top:10%;
}

.slide{
    background-attachment: fixed;
    width:100%;
    height:100%;
    min-height:610px;
    min-width:960px;
    position: relative;
    /*box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);*/
}

/* Sliding panels */

.curtains>li {
    box-shadow:0 0 12px #666;
    background-color: rgb(255,255,255);
}
.cover-background{
    position:fixed;
    top:0;left:0;
}

/* Stamp flying all around */

#stamp{
    z-index: 10000;
    left: 45%;
    position: absolute;
    top: 80%;
}

/******************************
 SLIDE 1 
*******************************/
#section-1{
    background: #5091c5 url(images/Slide1_BG.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    min-height: 610px;
    background-attachment: fixed;
   /* box-shadow:inset 0px -10px 10px rgba(0,0,0,0.3);*/
}

#app-title{
    text-align: right;
    float: left;
    margin-left: 25%;
}

#app-title h1{
    margin-top:10px;
}

#app-title p{
    margin-top:30px;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

#introduction{
    font-size:14px;
}

#iphone{
    float:right;
    margin-right:25%;
    width:253px;
    height:528px;
    background-image: url(images/Slide1_iPhone_Frame.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#galleria-container{
    width: 218px;
    height: 387px;
    margin: 68px 17px 0;
    border: 1px #ffffff solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#galleria-container div{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#galleria-container img{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#start{
    background-image:url(images/Slide1_down.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:rgba(0,0,0,0);
    width:118px;
    height:80px;
    bottom: 20%;
    left: 30%;
    display:block;
    position:absolute;
}

/******************************
 SLIDE 2 
*******************************/
#section-2{
    background-color:  #59b61b;
    min-height: 610px;
}
#theme {
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-20px;
    margin-left:-370px;

}

#theme li{
    float:left;
    margin-left:10px;
}


/* flip style */

/* Basic Style */
.thumb .thumb-detail{
    display:block;
    width:105px;
    height:1px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    text-align: center;
    font-size: 18px;
    color:#fff;
    background-color:rgba(10,0,10,0.6);
    position: absolute;
    top:13px;
    left:13px;
    border: solid 5px #fff;
    padding: 42px 0 62px;
}

/*
    * Without CSS3
    */
    .thumb.scroll {
        overflow: hidden;
    }   
    
        .thumb.scroll .thumb-detail {
            bottom:-280px;
        }
    
    
    /*
    * CSS3 Flip
    */  
    .thumb.flip {
        -webkit-perspective:800px;      
           -moz-perspective:800px;
            -ms-perspective:800px;              
             -o-perspective:800px;
                perspective:800px;
    }
    
        .thumb.flip .thumb-wrapper {
            -webkit-transition: -webkit-transform 1s;
               -moz-transition: -moz-transform 1s;
                -ms-transition: -moz-transform 1s;
                 -o-transition: -moz-transform 1s;
                    transition: -moz-transform 1s;
            -webkit-transform-style: preserve-3d;
               -moz-transform-style: preserve-3d;           
                -ms-transform-style: preserve-3d;           
                 -o-transform-style: preserve-3d;           
                      transform-style: preserve-3d;         
        }
        
        .thumb.flip .thumb-detail {
            -webkit-transform: rotateY(-180deg);
               -moz-transform: rotateY(-180deg);
                -ms-transform: rotateY(-180deg);
                 -o-transform: rotateY(-180deg);
                    transform: rotateY(-180deg);                        
        }
        
        .thumb.flip img,
        .thumb.flip .thumb-detail {
            -webkit-backface-visibility: hidden;
               -moz-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                 -o-backface-visibility: hidden;
                    backface-visibility: hidden;
        }
        
        .thumb.flip .flipIt {
            -webkit-transform: rotateY(-180deg);
               -moz-transform: rotateY(-180deg);            
                -ms-transform: rotateY(-180deg);            
                 -o-transform: rotateY(-180deg);            
                    transform: rotateY(-180deg);            
        }

/* Slide up on showing section-2 */
#theme {
    position: absolute;
}

#theme.appear {
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-20px;
    margin-left:-370px;
}

#theme li{
    float:left;
    margin-left:10px;
    opacity: 0;
    margin-top:500px;
}

#theme.appear li{
    opacity: 1;
    margin-top:0px;
}

#theme li:first-child {
    -webkit-transition: margin-top 1s ease-out, opacity 2s ease;
    -moz-transition: margin-top 1s ease-out, opacity 2s ease;
    -o-transition: margin-top 1s ease-out, opacity 2s ease;
    -ms-transition: margin-top 1s ease-out, opacity 2s ease;
    transition: margin-top 1s ease-out, opcacity 2s ease;
}


#theme li:nth-child(2) {
    -webkit-transition: margin-top 0.8s ease-out 0.2s, opacity 2s ease;
    -moz-transition: margin-top 0.8s ease-out 0.2s, opcacity 2s ease;
    -o-transition: margin-top 0.8s ease-out 0.2s, opcacity 2s ease;
    -ms-transition: margin-top 0.8s ease-out 0.2s, opcacity 2s ease;
    transition: margin-top 0.8s ease-out 0.2s, opcacity 2s ease;
}

#theme li:nth-child(3) {
    -webkit-transition: margin-top 0.6s ease-out 0.4s, opacity 2s ease;
    -moz-transition: margin-top 0.6s ease-out 0.4s, opcacity 1s ease 3s;
    -o-transition: margin-top 0.6s ease-out 0.4s, opcacity 1s ease 3s;
    -ms-transition: margin-top 0.6s ease-out 0.4s, opcacity 1s ease 3s;
    transition: margin-top 0.6s ease-out 0.4s, opcacity 1s ease 3s;
}

#theme li:nth-child(4) {
    -webkit-transition: margin-top 0.4s ease-out 0.6s, opacity 2s ease;
    -moz-transition: margin-top 0.4s ease-out 0.6s, opcacity 1s ease 3s;
    -o-transition: margin-top 0.4s ease-out 0.6s, opcacity 1s ease 3s;
    -ms-transition: margin-top 0.4s ease-out 0.6s, opcacity 1s ease 3s;
    transition: margin-top 0.4s ease-out 0.6s, opcacity 1s ease 3s;
}

#theme li:nth-child(5) {
    -webkit-transition: margin-top 0.2s ease-out 0.8s, opacity 2s ease;
    -moz-transition: margin-top 0.2s ease-out 0.8s, opcacity 1s ease 3s;
    -o-transition: margin-top 0.2s ease-out 0.8s, opcacity 1s ease 3s;
    -ms-transition: margin-top 0.2s ease-out 0.8s, opcacity 1s ease 3s;
    transition: margin-top 0.2s ease-out 0.8s, opcacity 1s ease 3s;
}



/******************************
 SLIDE 3 
*******************************/
#section-3{
    background-color: #26c68f;
    min-height: 610px;
}
#brochure {
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-180px;
    margin-top:-20px;
    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    -o-transition: 0.1s ease-out;
    -ms-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
}

#brochure:hover {
    animation: shaking-brochure 0.4s ease-out 0s infinite alternate;
    -moz-animation: shaking-brochure 0.4s ease-out 0s infinite alternate;
    -webkit-animation: shaking-brochure 0.4s ease-out 0s infinite alternate;
    -o-animation: shaking-brochure 0.4s ease-out 0s infinite alternate;

}

/* Shake on appearing or mouseover - Defining CSS3 Animation */

@keyframes shaking-brochure {
    0% {
        -webkit-transform:rotate(-5deg);
        -moz-transform:rotate(-5deg);
        -o-transform:rotate(-5deg);
        -ms-transform:rotate(-5deg);
        transform:rotate(-5deg);
    }
    100% {
        -webkit-transform:rotate(5deg);
        -moz-transform:rotate(5deg);
        -o-transform:rotate(5deg);
        -ms-transform:rotate(5deg);
        transform:rotate(5deg);
    }
}

@-webkit-keyframes shaking-brochure {
    0% {
        -webkit-transform:rotate(-5deg);
        -moz-transform:rotate(-5deg);
        -o-transform:rotate(-5deg);
        -ms-transform:rotate(-5deg);
        transform:rotate(-5deg);
    }
    100% {
        -webkit-transform:rotate(5deg);
        -moz-transform:rotate(5deg);
        -o-transform:rotate(5deg);
        -ms-transform:rotate(5deg);
        transform:rotate(5deg);
    }
}

@-o-keyframes shaking-brochure {
    0% {
        -webkit-transform:rotate(-5deg);
        -moz-transform:rotate(-5deg);
        -o-transform:rotate(-5deg);
        -ms-transform:rotate(-5deg);
        transform:rotate(-5deg);
    }
    100% {
        -webkit-transform:rotate(5deg);
        -moz-transform:rotate(5deg);
        -o-transform:rotate(5deg);
        -ms-transform:rotate(5deg);
        transform:rotate(5deg);
    }
}

/******************************
 SLIDE 4 
*******************************/
#section-4{
    background-color: #f07f4d;
    min-height: 610px;
}
#map {
    position: absolute;
    top:-80%;
    left:50%;
    margin-left:-167px;
    margin-top:-120px;
}

#map.appear{
    top:60%;
    animation: drop-map 0.8s ease-out 1 alternate;
    -moz-animation: drop-map 0.8s ease-out 1 alternate;
    -webkit-animation: drop-map 0.8s ease-out 1 alternate;
    -o-animation: drop-map 0.8s ease-out 1 alternate;
}

#pocket {
    position: absolute;
    top:60%;
    left:50%;
    margin-left:-181px;
    margin-top:80px;
}

#section-4 .footer{
    background: url(images/Slide4_Footer.png) repeat-x center bottom;
}

/* Map drops in pocket on appearing - Defining CSS3 Animation */

@keyframes drop-map {
    0% {
    top:-80%;
    }

    100% {
    top:60%;
    }
}

@-webkit-keyframes drop-map {
    0% {
    top:-80%;
    }

    100% {
    top:60%;
    }
}

@-moz-keyframes drop-map {
    0% {
    top:-80%;
    }

    100% {
    top:60%;
    }
}

@-o-keyframes drop-map {
    0% {
    top:-80%;
    }

    100% {
    top:60%;
    }
}
/******************************
 SLIDE 5 
*******************************/
#section-5{
    background-color: #fbab00;
    min-height: 610px;
}
#sun-moon {
    position: absolute;
    top:60%;
    left:50%;
    margin-left:-200px;
    margin-top:-150px;
}

#hand-arm {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -189px;
    margin-top: 80px;
}

#hand {
    margin-bottom: 148px;
    margin-left: -61px;
    -webkit-transform-origin:0 100%;
    -moz-transform-origin:0 -00%;
    -o-transform-origin:0 100%;
    -ms-transform-origin:0 100%;
    transform-origin:0 100%;
    animation: shake-hand 0.5s ease-out infinite alternate;
    -moz-animation: shake-hand 0.5s ease-out infinite alternate;
    -webkit-animation: shake-hand 0.5s ease-out infinite alternate;
    -o-animation: shake-hand 0.5s ease-out infinite alternate;
}
#arm {
    margin-left: 138px;
    margin-top: 68px;
}


/* Shake Hand Animation */

@keyframes shake-hand{
    0% {
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    transform:rotate(-5deg);
    }

    100% {
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    -o-transform:rotate(5deg);
    -ms-transform:rotate(5deg);
    transform:rotate(5deg);
    }

}

@-webkit-keyframes shake-hand{
    0% {
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    transform:rotate(-5deg);
    }

    100% {
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    -o-transform:rotate(5deg);
    -ms-transform:rotate(5deg);
    transform:rotate(5deg);
    }

}

@-moz-keyframes shake-hand{
    0% {
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    transform:rotate(-5deg);
    }

    100% {
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    -o-transform:rotate(5deg);
    -ms-transform:rotate(5deg);
    transform:rotate(5deg);
    }

}


@-o-keyframes shake-hand{
    0% {
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    transform:rotate(-5deg);
    }

    100% {
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    -o-transform:rotate(5deg);
    -ms-transform:rotate(5deg);
    transform:rotate(5deg);
    }

}


/******************************
 SLIDE 6 
*******************************/
#section-6{
    background-color: #59abe5;
    min-height: 610px;
}
#another-map {
    left: 50%;
    margin-left: -280px;
    margin-top: -80px;
    position: absolute;
    top: 50%;
    z-index: 2;
}
#post {
    z-index:3;
    left: 50%;
    margin-left: -290px;
    position: absolute;
    top: 50%;
    margin-top: 130px;
}
#pin {
    z-index: 4;
    position: absolute;
    top:-100%;
    left:50%;
}

#pin.appear {
    animation: drop-pin 1s ease-out 1 alternate;
    -moz-animation: drop-pin 1s ease-out 1 alternate;
    -webkit-animation: drop-pin 1s ease-out 1 alternate;
    -o-animation: drop-pin 1s ease-out 1 alternate;
    top:50%;
    left:50%;
}

#pin li:first-child{
    margin-left: -230px;
    margin-top: -40px;
}

#pin li:nth-child(2){
    margin-left: 100px;
    margin-top: -30px;
}

#pin li:nth-child(3){
    margin-left: -50px;
    margin-top: 50px;
}

#pin li:nth-child(4){
    margin-left: -30px;
    margin-top: -45px
}

#pin li:nth-child(5){
    margin-left: 130px;
    margin-top: 40px;
}

/* Drop Pin on Appear */
@keyframes drop-pin {
    0% {
    top:-100%;
    }

    100% {
    top:50%;
    }
}

@-webkit-keyframes drop-pin {
    0% {
    top:-100%;
    }

    100% {
    top:50%;
    }
}

@-moz-keyframes drop-pin {
    0% {
    top:-100%;
    }

    100% {
    top:50%;
    }
}

@-o-keyframes drop-pin {
    0% {
    top:-100%;
    }

    100% {
    top:50%;
    }
}

/******************************
 SLIDE 7 
*******************************/

#section-7{
    background-color: #be4939;
    min-height: 610px;
}

#section-7 a {
    display:block;
}
.app-container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 480px;
    height: 260px;
    margin-left: -240px;
    margin-top:-70px;
}
#app-show {
    width: 480px;
    height:260px;
}

#scroll-left{
    position: absolute;
    top: 90px;
    left: -60px;
    background: url(images/Slide7_left_arrow.png) 0 0 no-repeat;
    width:23px;
    height:38px;
}

#scroll-right{
    position: absolute;
    top: 90px;
    left: 500px;
    background: url(images/Slide7_right_arrow.png) 0 0 no-repeat;
    width:23px;
    height:38px;
}
#scroll-right a,#scroll-left a{
    width:23px;
    height:38px;
}

#scroll-left:hover,#scroll-right:hover{
    -moz-box-shadow: 0 24px 20px -16px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 24px 30px -16px rgba(0,0,0,0.2);
    box-shadow: 0 24px 30px -16px rgba(0,0,0,0.2);
}

.app-icons{
    width: 480px;
    height: 260px;
    overflow: hidden;
}

.app-icons div {
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.app-icons div img:hover {
    -moz-box-shadow: 0 24px 20px -16px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 24px 30px -16px rgba(0,0,0,0.2);
    box-shadow: 0 24px 30px -16px rgba(0,0,0,0.2);
}

#slider{
    position: absolute;
    bottom:0%;
    left:50%;
}
#slider a{
    display: block;
    text-decoration: none;
    width: 14px;
    height: 14px;
}
#slider li{
    background-color:#e0e0e0;
    width: 14px;
    height: 14px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    display:block;
    margin-left:15px;
    -webkit-transition: all .2s ease-in-out;
}

#slider li.active{
    background-color:#fff;
}
#slider li:hover{
    background-color:#ffffff;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;  
}


#download{
    background: url('images/Slide7_Download_normal.png') 0 0 no-repeat;
    width: 120px;
    height:122.4px;
    text-indent:-9999px;
    background-size: cover;
    position: absolute;
    top:90%;
    left:50%;
    margin-left:-60px;
    margin-top: 10px;
}

#download:hover{
    background: url('images/Slide7_Download_hover.png') 0 0 no-repeat;
    background-size: cover;   
}
/* MENU */
/*#menu{
    position:fixed;
    top:20px;
    left:20px;
    z-index:20;
    padding:10px;
    background-color:#000;
}
    #menu li{margin:0}
    #menu a{
        margin:0;
        color:#FFF;
    }*/

#menu{
    position:fixed;
    z-index:20;
    top:50%;
    margin-top:-135px;
    background-color: rgba(0,0,0,.5);
    padding: 20px 16px 0 16px;
}
#menu a{
    display: block;
    text-decoration: none;
    width: 20px;
    height: 20px;
}
#menu li{
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display:block;
    margin-bottom:16px;
    -webkit-transition: all .2s ease-in-out;
}
#menu li.active{
    border: solid 2px #fff;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10·px;
}
#menu li:hover{
    box-shadow: inset 0px 0px 10px rgba(256,256,256,0.5);
}
#menu li:first-child{
    background: url(images/Nav_Globle.png);
    background-size: cover;
}
#menu li:nth-child(2){
    background-color: #59b61b;
}
#menu li:nth-child(3){
    background-color: #26c68f;
}
#menu li:nth-child(4){
    background-color: #f07f4d;
}
#menu li:nth-child(5){
    background-color: #fbab00;
}
#menu li:nth-child(6){
    background-color: #59abe5;
}
#menu li:nth-child(7){
    background-color: #be4939;
}

/****feedback****/
.feedback-dialog{
    position:fixed;
    z-index:1000;
    width:360px;
    height: 500px;
    right:-360px;
    top:100px;
    background:white;
}
.feedback-dialog .feedback {
    top: 150px;
    z-index: 1000;
    position: absolute;
    left: -44px;
    width: 14px;
    height: 72px;
    font-size: 14px;
    cursor: pointer;
    line-height: 18px;
    color: #0B689B;
}
.btn{
    display: inline-block;
    padding: 6px 14px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #6D6867;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #F3F3F3;
    background-image: -moz-linear-gradient(top,#FDFDFD,#E4E4E4);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#FDFDFD),to(#E4E4E4));
    background-image: -webkit-linear-gradient(top,#FDFDFD,#E4E4E4);
    background-image: -o-linear-gradient(top,#FDFDFD,#E4E4E4);
    background-image: linear-gradient(to bottom,#FDFDFD,#E4E4E4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd',endColorstr='#ffe4e4e4',GradientType=0);
    border-color: #E4E4E4 #E4E4E4 #BDBDBD;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #BBB;
    border-bottom-color: #A2A2A2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2),0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2),0 1px 2px rgba(0, 0, 0, .05);
}
.feedback-dialog .feedback.btn{
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
}
.btn.btn-blue{
    color: #0B689B;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #6CC9F8;
    background-image: -moz-linear-gradient(top,#78D0FB,#5ABEF3);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#78D0FB),to(#5ABEF3));
    background-image: -webkit-linear-gradient(top,#78D0FB,#5ABEF3);
    background-image: -o-linear-gradient(top,#78D0FB,#5ABEF3);
    background-image: linear-gradient(to bottom,#78D0FB,#5ABEF3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff78d0fb',endColorstr='#ff5abef3',GradientType=0);
    border-color: #5ABEF3 #5ABEF3 #13A2EE;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border-color: #1198E1 #1198E1 #0D78B2;
}
.btn.btn-green{
    color: #334606;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #A0C14A;
    background-image: -moz-linear-gradient(top,#ACCD58,#8DAF34);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ACCD58),to(#8DAF34));
    background-image: -webkit-linear-gradient(top,#ACCD58,#8DAF34);
    background-image: -o-linear-gradient(top,#ACCD58,#8DAF34);
    background-image: linear-gradient(to bottom,#ACCD58,#8DAF34);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaccd58',endColorstr='#ff8daf34',GradientType=0);
    border-color: #8DAF34 #8DAF34 #5D7422;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border-color: #4F8D34 #4F8D34 #3A6826;
}
.feedback-dialog .content{
    padding: 20px;
    border: 1px solid #DDDBDB;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 340px;
    height: 100%;
    margin: -1px 0;
    color: #6D6867;
    background-color: #FDFDFD;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
.feedback-dialog .content p{
    font-size: 14px;
    margin: 0 0 20px 0;
}
.feedback-dialog .content input[type=text]{
    width: 320px;
    margin: 0 0 20px 0;
}
.feedback-dialog .content textarea{
    width: 320px;
    height: 260px;
    margin: 0 0 20px 0;
}
.feedback-dialog .content .muted{
    margin: 20px 0;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #FDFDFD;
    border: 1px solid #CCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 20px;
    color: #555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}