{% extends "admin/base_site.html" %}{% load i18n %}{% load url from future %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo;  <a href="{% url 'admin:index' %}ios_notifications/">{% trans 'Ios_notifications' %}</a>
    &rsaquo; <a href="{% url 'admin:index' %}ios_notifications/notification/">{% trans 'Notifications' %}</a>
    &rsaquo; {% trans 'Push notification' %}
</div>
{% endblock %}
{% block content %}
<div id="content-main">
    <h1>消息{% if not sent %} 没有{% endif %} 推送成功！</h1>
    <div>
        内容为:
        <pre>{{ notification.message }}</pre>
        {% if sent %}被推送到{{ num_devices }} 个设备上。{% endif %}
    </div>
</div>
{% endblock %}
